@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #B397D6;
}
.shadow{
  box-shadow: 10px -10px 105px 73px rgba(168,93,204,0.75);
-webkit-box-shadow: 10px -10px 105px 73px rgba(168,93,204,0.75);
-moz-box-shadow: 10px -10px 105px 73px rgba(168,93,204,0.75);
}
  